:root{
    --text-color:#FFF;
    --border-color:#3170D9;
}
body{
    padding: 15px 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.cart{
    border-radius: 20px;
    background: #142228;
    width: 320px;
    height: 670px; 
    padding-top: 1px;
    padding-right: 1px;
}
.cart-box{
    width: 275px;
    margin-left: 24px;
    margin-top: 15px;
    padding-right: 1px;
    height: 140px;
    border-radius: 20px;
    border: 1px solid rgba(98, 122, 131, 0.63);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    mix-blend-mode: color-dodge; 
    box-shadow: -1px -2px 11px -2px #060A0C inset, 4px 4px 10px 0px rgba(93, 112, 120, 0.24) inset, 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.cart-img{
    padding-bottom: 20px;
    margin-left: -12px;
    margin-top: -13px;
}
.cart-input{
    width: 264px;
    height: 51px;
    border-radius: 34px;
    margin-bottom: 31px;
    margin-left: -15px;
    margin-top: -80px;
    background: rgba(217, 217, 217, 0.05);
    color: #FFF;
    border: 3px solid #3170D9;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25), -4px -4px 10px 0px #374348 inset, 4px 4px 10px 0px rgba(93, 112, 120, 0.24) inset;
}
.cart-text{
    color: #FFF;
    font-size: 36px;
    font-weight: 100;
    line-height: normal;
    margin-left: 14px;
    margin-top: -4px;
}
.cart-input::placeholder {
    color: white;
    font-size: 17px;
    padding: 65px;
    letter-spacing: 0.42px;
}
label{
    font-size: 14px;
    color: #FFF;
    margin: -10px;
}
.holder-input{
    margin: 10px;
    margin-top: -1px;

}
.btn{
    border-radius:14px;
    margin-right:30px;
    border-color: #FFF;
}
.excerpt{
    margin-top: -2px;
    color: #FFF;
    margin-left: 38px;
    font-weight: 500;
    font-size: 14px;
}
.bt{
    border-radius:14px;
    margin-right:37px;
    margin-left: 14px;
    border-color: #FFF;
}
.button{
    font-size: 17px;
    width: 237px;
    height: 46px;
    color: #FFF;
    font-weight: 400;
    margin-top: 20px;
    border: #3170D9;
    border-radius: 12px;
    background: linear-gradient(92deg, #3170D9 0.39%, #2FF78B 96.5%);
}
.a{
    font-size: 9px;
    font-weight: 500;
    color: #3170D9;
    margin-left: 20px;
    margin-top: 15px;

}



